@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

body {
    font-family: 'Gowun Dodum', sans-serif;
    color: ivory;
    
    background-image: url('image/back-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    text-align: center;
}

h3 {
    line-height: 10px;
}

span {
    color: darkorange;
}

.blank {
    height: 50px;
}
